.project{
  background-color: RGB(242,242,242);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 50px;
  border-radius: 3px;
  overflow: hidden;
}
.project img{
  width: 100%;
  box-sizing: border-box;
  padding: 25px;
  order:2;
}
.project-info{
  width: 100%;
  box-sizing: border-box;
  padding: 50px;
  order: 1;
}
.project-info p{
  margin-top: 25px;
  line-height: 1.7;
  width: 100%;
}
.project-info a{
  display: block;
  margin-top: 25px;
}

@media (min-width: 900px) {
      .project-info{
        width: 60%;
        order: 2;
      }
      .project img{
        width: 40%;
        padding:0;
        order:1;
      }

}
