.deeper-bio{
  padding: 25px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  box-sizing: border-box;
  min-width: 600px;
  text-align: center;
}
.deeper-bio-text{
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 50px;
}

.deeper-bio p{
  font-size: 1.3rem;
  margin: 0 0 20px 0;
}
.deeper-bio-image{
  width: 100%;
  text-align: center;
  padding: 10px;
}
.deeper-bio-image div{
  padding: 10px 0 5px 0;
  color: RGB(52,52,52);
}
.deeper-bio img{
  width: 100%;
  border-radius: 3px;
}
.bold-word{
  font-weight: bold;
  font-size: 1.5rem;
}
@media (min-width: 900px) {

  .deeper-bio{
    padding: 150px;
  }
}
@media (min-width: 1300px) {
  .deeper-bio-text{
    width: 80%;
  }

}
