.view-header{
  width: 100%;
  height: 250px;
  padding: 150px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-color: white;
  text-align: center;

}
.view-header h2{
  margin: 50px 0 25px 0;
  font-size: 3rem;
}
.view-header p{
  line-height: 1.8;
}
