.footer{
  background-color: RGB(18,18,18);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;
  width: 100vw;
  font-family: Oswald;
}

.footer h1{
  font-size:4rem;
  font-family: Oswald;
  text-align: center;
  color: white;
  width: 100%;
  margin-bottom: 7vh;
  padding: 0;
}
.footer-nav{
  width: 70vw;
  max-width: 800px;
  min-width: 500px;
  height: 3vh;
  margin-bottom: 7vh;
  display: flex;
  align-items: center;
  justify-content: center;

}
.footer-nav ul{
  list-style: none;
  display: flex;
  justify-content: space-between;
  color: white;
  font-size: 1.5rem;
  width: 100%;
}
.footer-nav .list-item:hover{
  color: orange;
}


.footer p{
  margin-top: 7vh;
  text-align: center;
  font-family: Oswald;
  font-weight: lighter;
  color: white;
}

@media (min-width: 900px){
  .footer-nav ul{
    width: 70%;
  }
  .footer h1{
    font-size:5rem;
  }
}
