* {
  margin: 0;
  padding: 0;
}
.App {
  font-family: 'Helvetica', sans-serif;
  display: flex;
  flex-wrap: wrap;
}
.view{
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;

}
.paragraph-small{
  color: RGB(52,52,52);
  line-height: 1.7;
}
.heading3{
  font-size: 35px;
  margin: 15px 0 30px 0;
  color: RGB(18,18,18);
}
.text-secondary{
  color: RGB(52,52,52);
}
@media (min-width: 1300px) {
      .view{
          margin-left: max(15vw, 300px);
      }

}
